.rescue-update-page__bottom {
  --dual-action-footer-backdrop-filter: blur(var(--space-2));
  --dual-action-footer-border-width: 0;
  --dual-action-footer-padding: var(--space-4);
  --dual-action-footer-shadow: none;
  --dual-action-primary-flex: none;
  --dual-action-primary-icon-height: var(--size-asset-icon-progress-submit-height);
  --dual-action-primary-icon-width: var(--size-asset-icon-progress-submit-width);
  --dual-action-primary-max-width: var(--size-progress-update-primary-button-max-width);
  --dual-action-primary-min-height: var(--size-button-lg);
  --dual-action-primary-width: var(--size-progress-update-primary-button-width);
  --dual-action-secondary-min-height: var(--size-button-lg);
  --dual-action-secondary-width: var(--size-progress-update-secondary-button-width);
}
